html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
Previous Versions
v10 (200802)
Acknowledgments
Thanks to Paul Chaplin for the blockquote / q rules.

Identity Archipelago
Twitter
Mastodon
GitHub
Flickr
Dribbble
Facebook
LinkedIn
The excuse of the day isinconsistent standards
All contents of this site, unless otherwise noted, are ©1993-2022 Eric A. and 
Kathryn S. Meyer. All Rights Reserved.
"Thoughts From Eric" is powered by WordPress. 
Most of the rest of the site is hand-authored.
The ink-sketch images used in this sites design are adapted from Yūzan Mori's 
Hamonshū, Volumes 1-3, published in 1903 and made available for public use by 
the Smithsonian Libraries and the Internet Archive. */