/* GENERAL */
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    background-color: #FFFFFB;
    font-family: "Lato", sans-serif;

}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: url(../imgs/icons8-crayon-64.png) 5 25, crosshair; /* Ensure path and image size are correct */
    background: transparent;
}


/* TYPESET */
h1 {
    font-weight: 400;
    font-size: 4vw;
}


h2 {
    font-weight: 300;
    font-style: italic;
    font-stretch: expanded;
    font-size: 4vw;
}

h3 {
    font-weight: 100;
    font-style: normal;
    font-stretch: expanded;
    font-size: 2vw;
}

h4 {
    font-weight: inherit;
    font-style: normal;
    font-stretch: expanded;
    font-size: 2.5vh;
}

p {
    font-family: "Lato", serif;
    font-weight: 300;
    font-size: 2vh;
    font-style: normal;
    position: relative;
    text-align: justify;
    line-height: 2;
    max-width: 50vw;
}

.no-underline {
    text-decoration: none;
}

.in-text-title {
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 3vh;
    font-style: italic;
    position: relative;
    text-align: justify;
    line-height: 2;
    max-width: 50vw;
}
/* NAME ANIMATION */
.namefx {    
    animation:
        expand_text 1s ease-in-out 1 forwards, 
        shrink_text_name 2s ease-in-out 1s 1 forwards;

    font-size: 2rem;
    font-style: normal;
} 


/* PROJECT LIST SETTINGS */
#projects {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.project {
    position: relative;
    flex: 0 0 100vw;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

#wink:hover {
    animation: spin 1s 1 forwards; 
    cursor: none;
}

/* FORMATTING SPECIFICS  */
.parent-container-center {
    display: grid;
    place-items: center;
    height: 100vh;
    text-align: center;
    scroll-snap-type: y mandatory;

}

.prevent-select {
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
  }

/* #scrollRightArrow {
    animation: bounceRight 1s infinite forwards;
} */


/* ANIMATION */
@keyframes expand_text {
    0% {
        letter-spacing: inherit;
        font-size: inherit;
    }
    100% {
        letter-spacing: 3vw;
        font-size: 10vw;
    }
}

@keyframes shrink_text_name {
    0% {
        letter-spacing: 3vw;
        font-size: 10vw;
    }
    100% {
        letter-spacing: 0;
        font-size: 5vw;
    }
}


@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, 20px);
    }
}

@keyframes bounceRight {
    0%, 100% {
        transform: translate(0, -50%);
    }
    50% {
        transform: translate(20px, -50%);
    }
}

@keyframes slide-in-right {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 0.7;
        transform: translateX(0);
    }
}

@keyframes slide-out-right {
    0% {
        opacity: 0.7;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100px);
    }
}

@keyframes float-to-top {
    0% {ttop: 50%;
        left: 50%;
        transform: translate(50, 50);}
    100% {top: 0%;
        left: 50%;
        transform: translate(50, 0);}
}

@keyframes spin {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg);
    }
}


/* LINK STYLES */
a {
    color: #000000;
    text-decoration: underline;
}

a:visited {
    color: #53783F;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-style: italic;
    color: #7AAB5F;
}


/* ARROWS & BUTTONS */
.scroll-arrow {
    position: fixed;
    font-size: 2rem;
    color: #000;
    z-index: 999;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.down-arrow {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 1.5s infinite;
}

.right-arrow {
    bottom: 50px;
    left: 50%;
    transform: translateY(-50%);
    display: none; 
    animation: bounceRight 1.5s infinite;
}

.back-arrow {
    position: fixed;
    top: 20px; 
    left: 20px; 
    transition: background-color 0.3s, transform 0.3s;
    padding: 5px;
    font-size: 2.5vh;
    z-index: 3;
    text-decoration: none;
}

.about {
    position: fixed;
    text-decoration: none;
    top: 20px;
    right: 20px;
    transition: background-color 0.3s, transform 0.3s;
    padding: 5px;
    flex-direction: column;
    font-weight: 300;
    font-stretch: expanded;
    font-size: 2.5vh;
    z-index: 3;
}

.clear {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 5px;
    z-index: 3;
}


/* IMAGE SETTINGS */
img {
    height: 80vh;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}